.container {
  width: 100%;
  height: var(--header-height);
  padding: 0 3vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.342);
  backdrop-filter: blur(14px);
}

.content {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.empty__container {
  flex: 1 0 0;
}

.logo__container {
  height: 40%;
  flex: 0 0 fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: fit-content;
  height: 100%;
  object-fit: contain;
}

.logo__text {
  color: var(--main-dark-color);
  font-size: 1.2rem;
  margin-left: 10px;
  font-variation-settings: "wght" 800;
}

.logout__container {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 25px;
  width: 25px;
  color: var(--main-dark-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 426px) {
  .container {
    padding: 0 8vw;
  }
}
