.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subtitle {
  font-size: 1.4rem;
}

.notion__container {
  width: 100%;
  height: fit-content;
}

.loader__container {
  margin-top: 10px;
}

.error-text {
  font-size: 1.4rem;
}
