.container {
  width: 100%;
  min-height: 80vh;
  border: 5px solid var(--acad-main-dark);
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
