:root {
  --max-width: 1100px;
  --border-radius: 14px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --header-height: 60px;

  --main-dark-color: #111827;
  --secondary-dark-color: #3f72af;
  --main-light-color: #f9f7f7;
  --secondary-light-color: #dbe2ef;
  --third-dark-color: #374151;
  --main-error-color: rgb(134, 1, 1);
  --acad-main-dark: #111827;
  --acad-secondary-dark: #bca37f;
  --acad-main-light: #fff2d8;
  --acad-secondary-light: #ead7bb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  font-family: inherit;
}

.spinner {
  display: none !important;
}

.not-found__container {
  width: 100%;
  height: calc(100vh - 60px);
  display: grid;
  place-content: center;
  margin-top: 60px;
}

.not-found__link {
  text-align: center;
  background-color: var(--main-dark-color);
  width: fit-content;
  place-self: center;
  padding: 15px 20px;
  color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 1.1rem;
}
