.container {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  border: 5px solid var(--third-dark-color);
  padding: 20px;
}
.button {
  flex: 0 0 40px;
  height: 40px;
  width: 40px;
  color: var(--main-dark-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.select {
  flex: 1;
  height: 48px;
  background-color: var(--third-dark-color);
  border: 2px solid var(--acad-main-dark);
  border-radius: 10px;
  padding: 0 10px;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.title {
  width: 100%;
  font-size: 1.3rem;
}
