.main {
  margin-top: var(--header-height);
  padding: 25px 4vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden;
}
