.container {
  width: 100%;
  height: fit-content;
  background-color: var(--main-light-color);
}

.content {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  padding: 100px 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__container {
  height: 50px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  width: fit-content;
  height: 100%;
  object-fit: contain;
}

.developer__link {
  text-align: center;
  color: var(--main-dark-color);
}
