.container {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  flex: 0 0 40px;
  height: 40px;
  width: 40px;
  color: var(--main-dark-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
