.container {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.loader__container {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: grid;
  place-content: center;
}

.empty {
  width: 100%;
  font-size: 1.4rem;
}
