:root {
  --max-width: 1100px;
  --border-radius: 10px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --header-hight: 60px;

  --main-dark-color: #112d4e;
  --secondary-dark-color: #3f72af;
  --main-light-color: #f9f7f7;
  --secondary-light-color: #dbe2ef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
